$charcoal-900: #0E0F10;
$charcoal-800: #131415;
$charcoal-700: #161718;

$massacre: #FF416C;
$rose-petal: #FF4B2B;

$white-100: rgba(255, 255, 255, 1);
$white-75: rgba(255, 255, 255, 0.75);
$white-50: rgba(255, 255, 255, 0.50);
$white-25: rgba(255, 255, 255, 0.25);

$honey-mustard: #F6E338;
